In [3]:
library(data.table)


pheno <- fread("/home/vmadmin/workspace/ehr_data/data/full_cohort/tube_id_mortality.pheno", data.table = FALSE)
head(pheno)

  tube_code death_30_day
1 AH19I003  0
2 AH21E085  0
3 ALF22B136 0
4 AH20B011  0
5 ALF23D002 0
6 AH21H067  0

In [6]:
as.data.frame(table(pheno$death_30_day))

  Var1 Freq
1 0    2675
2 1     409