# Genrate bacteria counts for the manuscript

## Read data

In [ ]:
import os
import pandas as pd

from pathlib import Path


infoDf = pd.read_csv(Path(os.environ['EHR_DATA_BASE'], 'saur_cohort_20250113', 'source', 'patient_tube_id_mapping_full.tsv'), sep='\t')

infoDf.shape

((116754, 194), (3117, 18))

In [4]:
infoDf

,tube_code,PATIENT_ID,db_ID,pt_age,pt_gender,EPISODE_ID,hospital_admission,hospital_discharge,hospital_in_last_year,genome_species,species_reported,contig_number,length,tube_code_duplicate_or_old,date_of_collection,ID_number,location_additional_02,collected_from_original
0,AH19J072,213972.0,3JNQS,64,Male,12931474.0,2019-10-17,2019-11-29,yes,Escherichia coli,Escherichia coli,92,5131021,NaN,2019-10-30,19-303-0997,A-7EA;HAEM,Blood
1,AH19J074,213972.0,3JNQS,64,Male,12931474.0,2019-10-17,2019-11-29,yes,Streptococcus sp. D19,Streptococcus mitis group,84,2022991,NaN,2019-10-30,19-303-1174,A-7EA;HAEM,Blood Peripheral
2,AH19B003,526238.0,567AE,85,Male,640261.0,2019-02-04,2019-02-07,no,Escherichia coli,Escherichia coli,93,4942915,NaN,2019-02-03,19-034-1596,A-4WB;GMC,Blood
3,AH20A024,788941.0,3YBDS,58,Female,13194824.0,2020-01-16,2020-01-19,no,Escherichia coli,Escherichia coli,110,5149157,NaN,2020-01-16,20-016-2112,S-ED;Emergency,Blood Venous
4,AH20L041,1023735.0,2VJ78,42,Male,14210147.0,2020-12-18,2021-01-05,yes,Staphylococcus aureus,Staphylococcus aureus,46,2735216,NaN,2020-12-16,20-351-2856,Emergency Dept;nan,Blood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3112,ALF22L076,639020.0,3S6HL,84,Male,17219899.0,2022-12-15,2022-12-20,yes,Streptococcus vestibularis,Streptococcus salivarius group,107,1938627,NaN,2022-12-15,22-349-2150,Ward 4WB,Blood Peripheral
3113,ALF22L089,655404.0,6EWBM,67,Female,NaN,NaN,NaN,NaN,Proteus columbae,Proteus vulgaris,152,3972219,NaN,2022-12-17,22-351-1465,Comm/Amb Clinic,Blood
3114,ALF22L138,2572048.0,YM5PJ,61,Male,NaN,NaN,NaN,NaN,Enterobacter roggenkampii,Enterobacter cloacae complex,66,4876179,NaN,2022-12-27,22-361-0202,Ward 7 East,Hick White Lum
3115,ALF23A102,2054964.0,5DYAH,35,Female,17294287.0,2023-01-12,2023-02-01,yes,Streptococcus constellatus,Streptococcus anginosus group,54,1869828,NaN,2023-01-11,23-011-3305,ICU,Blood Venous
3116,ALF23B102,2015952.0,57E2W,82,Female,17281239.0,2023-01-08,2023-02-16,no,Acinetobacter colistiniresistens,Acinetobacter species,233,3952992,NaN,2023-02-15,23-046-3310,ICU,PICC Line White

In [16]:
countsDf = infoDf.genome_species.value_counts().reset_index()
countsDf

                      genome_species  count
0                   Escherichia coli    850
1              Staphylococcus aureus    557
2               Enterococcus faecium    220
3              Klebsiella pneumoniae    199
4              Enterococcus faecalis    151
..                               ...    ...
93           Acinetobacter seifertii      1
94          Acinetobacter oleivorans      1
95          Acinetobacter variabilis      1
96                  Proteus columbae      1
97  Acinetobacter colistiniresistens      1

[98 rows x 2 columns]

## Gram negatives

### Acinetobacter species

In [32]:
countsDf[countsDf.genome_species.str.contains('Acinetobacter')]

                      genome_species  count
33        Acinetobacter nosocomialis      9
35           Acinetobacter baumannii      8
37              Acinetobacter pittii      8
52             Acinetobacter lwoffii      4
55            Acinetobacter ursingii      4
62      Acinetobacter radioresistens      3
84         Acinetobacter courvalinii      1
93           Acinetobacter seifertii      1
94          Acinetobacter oleivorans      1
95          Acinetobacter variabilis      1
97  Acinetobacter colistiniresistens      1

In [29]:
countsDf[countsDf.genome_species.str.contains('Acinetobacter')]['count'].sum()

np.int64(41)

### Burkholderia cepacia complex

In [31]:
countsDf[countsDf.genome_species.str.contains('Burkholderia')]

              genome_species  count
71     Burkholderia stabilis      2
74  Burkholderia multivorans      1
85  Burkholderia cenocepacia      1
89  Burkholderia contaminans      1

In [33]:
countsDf[countsDf.genome_species.str.contains('Burkholderia')]['count'].sum()

np.int64(5)

### Pseudomonas aeruginosa

In [34]:
countsDf[countsDf.genome_species.str.contains('Pseudomonas aeruginosa')]

           genome_species  count
5  Pseudomonas aeruginosa    149

### Stenotrophomonas maltophilia

In [37]:
countsDf[countsDf.genome_species.str.contains('Stenotrophomonas maltophilia')]

                  genome_species  count
19  Stenotrophomonas maltophilia     27

### Citrobacter freundii complex

In [40]:
countsDf[countsDf.genome_species.str.contains('Citrobacter freundii')]

          genome_species  count
50  Citrobacter freundii      4

### Citobacter koseri

In [44]:
countsDf[countsDf.genome_species.str.contains('Citrobacter koseri')]

        genome_species  count
24  Citrobacter koseri     14

### Enterobacter cloacae complex

In [46]:
countsDf[countsDf.genome_species.str.contains('Enterobacter cloacae')]

          genome_species  count
34  Enterobacter cloacae      8

### Escherichia coli

In [47]:
countsDf[countsDf.genome_species.str.contains('Escherichia coli')]

     genome_species  count
0  Escherichia coli    850

### Klebsiella aerogenes

In [48]:
countsDf[countsDf.genome_species.str.contains('Klebsiella aerogenes')]

          genome_species  count
17  Klebsiella aerogenes     32

### Klebsiella oxytoca

In [49]:
countsDf[countsDf.genome_species.str.contains('Klebsiella oxytoca')]

        genome_species  count
21  Klebsiella oxytoca     23

### Kiebsiella pneumoniae

In [50]:
countsDf[countsDf.genome_species.str.contains('Klebsiella pneumoniae')]

          genome_species  count
3  Klebsiella pneumoniae    199

### Proteus mirabilis

In [55]:
countsDf[countsDf.genome_species.str.contains('Proteus mirabilis')]

      genome_species  count
7  Proteus mirabilis     58

### Raoultella ornithinolytica

In [57]:
countsDf[countsDf.genome_species.str.contains('Raoultella ornithinolytica')]

                genome_species  count
41  Raoultella ornithinolytica      6

### Raoultella planticola

In [58]:
countsDf[countsDf.genome_species.str.contains('Raoultella planticola')]

           genome_species  count
47  Raoultella planticola      4

### Serratia marcescens

In [59]:
countsDf[countsDf.genome_species.str.contains('Serratia marcescens')]

         genome_species  count
13  Serratia marcescens     40

## Gram positives

### Staphylococcus aureus

In [60]:
countsDf[countsDf.genome_species.str.contains('Staphylococcus aureus')]

          genome_species  count
1  Staphylococcus aureus    557

### Enterococcus faecalis

In [61]:
countsDf[countsDf.genome_species.str.contains('Enterococcus faecalis')]

          genome_species  count
4  Enterococcus faecalis    151

### Enterococcus faecium

In [62]:
countsDf[countsDf.genome_species.str.contains('Enterococcus faecium')]

         genome_species  count
2  Enterococcus faecium    220

### Enterococcus Other

In [63]:
countsDf[countsDf.genome_species.str.contains('Enterococcus')]

                genome_species  count
2         Enterococcus faecium    220
4        Enterococcus faecalis    151
44     Enterococcus gallinarum      5
58  Enterococcus casseliflavus      3
68     Enterococcus raffinosus      2
78          Enterococcus avium      1
87         Enterococcus durans      1

### Streptococcus pyogenes

In [64]:
countsDf[countsDf.genome_species.str.contains('Streptococcus pyogenes')]

            genome_species  count
15  Streptococcus pyogenes     37

### Steptococcus agalactiae

In [66]:
countsDf[countsDf.genome_species.str.contains('Streptococcus agalactiae')]

             genome_species  count
9  Streptococcus agalactiae     57

### Streptococcus dysgalactiae

In [67]:
countsDf[countsDf.genome_species.str.contains('Streptococcus dysgalactiae')]

               genome_species  count
8  Streptococcus dysgalactiae     58

### streptococcus mitis group

In [70]:
countsDf[countsDf.genome_species.str.contains('mitis')]

         genome_species  count
16  Streptococcus mitis     35

### Streptococcus salivarius group

In [73]:
countsDf[countsDf.genome_species.str.contains('Streptococcus salivarius')]

              genome_species  count
11  Streptococcus salivarius     41

### Streptococcus anginosus group

In [74]:
countsDf[countsDf.genome_species.str.contains('Streptococcus anginosus')]

             genome_species  count
18  Streptococcus anginosus     28

### Streptococcus bovis group

In [ ]:
countsDf[countsDf.genome_species.str.contains('Streptococcus bovis')]

Empty DataFrame
Columns: [genome_species, count]
Index: []

### Streptococcus mutans group

In [80]:
countsDf[countsDf.genome_species.str.contains('Streptococcus mutans')]

          genome_species  count
59  Streptococcus mutans      3

### Streptococcus sanguinis group

In [83]:
countsDf[countsDf.genome_species.str.contains('Streptococcus sanguinis')]

             genome_species  count
22  Streptococcus sanguinis     22

### Streptococcus pneumoniae

In [84]:
countsDf[countsDf.genome_species.str.contains('Streptococcus pneumoniae')]

              genome_species  count
14  Streptococcus pneumoniae     40